footer {
    background: #000;
}

.footer-container {
    max-width: 1200px;
    padding: 120px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.footer-text {
    font-size: 1.5rem;
    color: #ccc;
    margin-bottom: 40px;
}

.img-sociais {
    display: flex;
    gap: 30px;
}

.img-sociais img {
    max-width: 35px;
}

.img-sociais a:hover {
    filter: drop-shadow(#858585);
    opacity: 0.7;
}

.footer-container a:hover {
    color: #a385f6;
}

.footer-container a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.footer-container ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

@media (max-width: 800px) {
    .footer-container {
        gap: 30px;
        padding: 80px 20px 50px;
    }

    .footer-text,
    .footer-container a {
        font-size: 1.125rem;
    }
}

@media (max-width: 600px) {
    .footer-container {
        grid-template-columns: 1fr;

    }
}