header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 0 auto;
    max-width: 1200px;
}


.header-navbar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.header-navbar a {
    padding: 10px;
    border-radius: 5px;
    background: #a385f6;
    color: #fff;
    text-decoration: none;
}

.header-navbar a:hover {
    background: #701CDA;
}

.header img {
    max-width: 50px;
}

.avatar-mobile {
    display: none;
}

@media (max-width: 800px) {
    .header {
        padding: 10px;
        justify-content: space-around;
        box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.2);
    }

    #itens {
        position: fixed;
        width: 100%;
        background: rgb(20, 20, 20, 95%);
        bottom: 0;
        box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .header-navbar {
        display: flex;
        gap: 10px;
        padding: 15px 0px;
        align-items: center;
    }

    .header-navbar a {
        padding: 5px;
        border: solid 1px #a385f6;
        border-radius: 5px;
        color: #fff;
        background: transparent;
    }
}