.bike-list {
    padding-top: 60px;
    padding-bottom: 120px;
}

.bike-list h2 {
    margin-bottom: 40px;
}

.bike-list ul {
    display: flex;
    gap: 40px;
    padding: 0 20px 20px 20px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
}

.bike-list li {
    flex: 1;
    min-width: 280px;
}

.bike-list a {
    display: block;
}

.bike-list img {
    margin-bottom: 16px;
}

.bike-list h3 {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.bike-list h3::before {
    content: "";
    height: 8px;
    width: 12px;
    margin-right: 8px;
    background: var(--cor-p1);
    transition: width 0.3s;
}

.bike-list a:hover h3::before {
    width: 24px;
}

.bike-list li span {
    padding-left: 20px;
}

@media (max-width: 800px) {
    .bike-list {
        padding-bottom: 60px;
    }

    .bike-list ul {
        gap: 20px;
    }
}